.formio-form {
  position: relative;
  min-height: 80px;
}

.formio-disabled-input .form-control.flatpickr-input {
  background-color: #eee;
}

.formio-component.has-error .invalid-feedback {
  display: block;
}

.formio-wysiwyg-editor {
  min-height: 200px;
  background-color: #fff;
}

.has-feedback .form-control {
  padding-right: 10px;
}

.has-feedback .form-control[type=hidden] {
  padding-right: 0px;
}

.has-error.bg-danger {
  padding: 4px;
}

.ql-source:after {
  content: "[source]";
  white-space: nowrap;
}

.quill-source-code {
  width: 100%;
  margin: 0px;
  background: rgb(29, 29, 29);
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  font-size: 15px;
  outline: none;
  padding: 20px;
  line-height: 24px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  display:none;
}

/* Force native + Ace textareas to use pre-wrap whitespace in readonly mode (preserves visual linebreaks) */
.formio-disabled-input.formio-component-textarea > .well {
  white-space: pre-wrap;
}

.formio-disabled-input.formio-component-textarea > .well * {
  white-space: initial;
}

/* Force all textareas to break long words when overflowing (if width is set) */
.formio-disabled-input.formio-component-textarea .well {
  overflow-wrap: break-word;
}

.formio-component-tags tags {
  background-color: #fff;
}

.field-required:after {
  content:" *";
  color:red;
}

.glyphicon-spin {
  -webkit-animation: formio-spin 1s infinite linear;
  -moz-animation: formio-spin 1s infinite linear;
  -o-animation: formio-spin 1s infinite linear;
  animation: formio-spin 1s infinite linear;
}

@-moz-keyframes formio-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes formio-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes formio-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-icon-right {
  margin-left: 5px;
}

.formio-component-submit .submit-success::after {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  position: relative;
  right: -4px;
  top: 1;
  line-height: 1;
}

.formio-component-submit .submit-fail::after {
  font-family: 'Glyphicons Halflings';
  content: '\e014';
  position: relative;
  right: -4px;
  top: 1;
  line-height: 1;
}

.formio-component-submit .submit-fail[disabled] {
  opacity: 1;
}

.formio-component-submit button.uploads-in-progress {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control.flatpickr-input {
  background-color: #fff;
}

td > .form-group {
  margin-bottom: 0;
}

.signature-pad {
  position: relative;
}

.signature-pad-body {
  overflow: hidden;
}

.signature-pad-body img {
  width: unset !important;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.signature-pad-canvas {
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #f4f4f4;
}

.btn.signature-pad-refresh {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 3px;
  line-height: 0;
}

[dir="rtl"] .btn.signature-pad-refresh {
  left: unset;
  right: 0;
}

.choices__list--dropdown .choices__item--selectable{
  padding-right: 0px;
}

.signature-pad-refresh img {
  height: 1.2em;
}

.signature-pad-footer {
  text-align: center;
  color: #C3C3C3;
}

.loader-wrapper {
  z-index: 1000;
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color:rgba(0, 0, 0, 0.1);
}

.loader {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 10000;
  display: inline-block;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.choices__list--dropdown {
  z-index: 100;
}

.choices__list--multiple .choices__item {
  border-radius: 0;
  padding: 2px 8px;
  line-height: 1em;
  margin-bottom: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices__input {
  padding: 2px;
}

/* fix for choices.js .choices__input container in rtl */
.choices[dir="rtl"] > * {
  text-align: right;
}
/* end fix for choices.js .choices__input container in rtl */

/* fix for choices.js deletable items in rtl */
.choices[dir="rtl"] .choices__list--multiple .choices__item[data-deletable] {
  padding-left: 5px;
  float: right;
}

.choices[dir="rtl"] .choices__list--multiple .choices__item[data-deletable] .choices__button {
  float: left;
  margin: 0 8px 0 -4px;
  padding-left: unset;
  padding-right: 16px;
  border-left: unset;
  border-right: 1px solid #008fa1;
}
/* end fix for choices.js deletable items in rtl */

.formio-component-file .fileSelector {
  padding: 15px;
  border: 2px dashed #ddd;
  text-align: center;

  .loader-wrapper {
    display: none;
  }
}

.formio-component-file .fileSelector.fileDragOver {
  border-color: #127abe;
}

.formio-component-file .fileSelector .glyphicon, .formio-component-file .fileSelector .fa {
  font-size: 20px;
  margin-right: 5px;
}

[dir="rtl"] .formio-component-file .fileSelector .fa, [dir="rtl"] .formio-component-file .fileSelector .glyphicon {
  margin-right: unset;
  margin-left: 5px;
}

.formio-component-file .fileSelector .browse {
  cursor: pointer;
}

@-webkit-keyframes formio-dialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes formio-dialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes formio-dialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes formio-dialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.formio-dialog {
  box-sizing: border-box;
  font-size: 0.8em;
  color: #666;

  &.formio-modaledit-dialog {
    font-size: inherit;
  }
}

.formio-dialog *,
.formio-dialog *:before,
.formio-dialog *:after {
  box-sizing: inherit;
}

.formio-dialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* fix for Scrollbars not clickable on overflow #552 */
  background: rgba(0, 0, 0, 0.4);
  animation: formio-dialog-fadein 0.5s;
  /* end fix for Scrollbars not clickable on overflow #552 */

  .control-label {
    font-size: 0.75rem;
    font-weight: 600 !important;
    margin-bottom: 0.25rem;
  }
}

.formio-dialog.formio-dialog-disabled-animation,
.formio-dialog.formio-dialog-disabled-animation .formio-dialog-overlay,
.formio-dialog.formio-dialog-disabled-animation .formio-dialog-content {
  -webkit-animation: none!important;
  animation: none!important;
}

.formio-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadein 0.5s;
  animation: formio-dialog-fadein 0.5s;
  /* fix for Scrollbars not clickable on overflow #552 */
  margin-right: 15px;
  background: transparent;
  /* end fix for Scrollbars not clickable on overflow #552 */
}

.formio-dialog-no-overlay {
  pointer-events: none;
}

.formio-dialog.formio-dialog-closing .formio-dialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadeout 0.5s;
  animation: formio-dialog-fadeout 0.5s;
}

.formio-dialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadein 0.5s;
  animation: formio-dialog-fadein 0.5s;
  pointer-events: all;
  overflow: auto;
  &>:not(.help-tooltip-enabled) {
    .fa-question-circle {
      display: none !important;
    }
  }
  &>:not(.advanced-field-enabled) {
    .advanced-field {
      display: none !important;
    }
  }
}

.formio-dialog.formio-dialog-closing .formio-dialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadeout 0.5s;
  animation: formio-dialog-fadeout 0.5s;
}

.formio-dialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\D7';
  cursor: pointer;
}

html.formio-dialog-open,
body.formio-dialog-open {
  overflow: hidden;
}

@-webkit-keyframes formio-dialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes formio-dialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes formio-dialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes formio-dialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.formio-dialog.formio-dialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.formio-dialog.formio-dialog-theme-default.formio-dialog-closing .formio-dialog-content {
  -webkit-animation: formio-dialog-flyout .5s;
  animation: formio-dialog-flyout .5s;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
  -webkit-animation: formio-dialog-flyin .5s;
  animation: formio-dialog-flyin .5s;
  background: #fff !important;
  border-radius: 5px;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem !important;
  position: relative;
  width: 65%;

  .page-title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: normal;
    color: #000;

    .modal-advanced-toggler,
    .modal-help-toggler {
      font-size: 1rem;
      font-weight: 300;
      vertical-align: middle;
      cursor: pointer;
      .toggle__icon {
        font-size: 1rem !important;
      }
    }
  }
}

.hidden {
  display: none;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.formio-clickable {
  cursor: pointer;
}

.component-settings .nav>li>a {
  padding: 8px 10px;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close:before {
  display: block;
  padding: 3px;
  background: transparent;
  color: #bbb;
  content: '\D7';
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close:hover:before,
.formio-dialog.formio-dialog-theme-default .formio-dialog-close:active:before {
  color: #777;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-message {
  margin-bottom: .5em;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input {
  margin-bottom: 1em;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input textarea,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="text"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="password"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="email"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input textarea:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="text"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="password"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="email"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-buttons {
  *zoom: 1;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button:focus {
  -webkit-animation: formio-dialog-pulse 1.1s infinite;
  animation: formio-dialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .formio-dialog.formio-dialog-theme-default .formio-dialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button.formio-dialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button.formio-dialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}

.formio-dialog-content .panel {
  margin: 0;
}

.formio-placeholder {
  position:absolute;
  color: #999;
}

.formio-dialog .formio-dialog-close {
  cursor: pointer;
}

.formio-iframe {
  border: none;
  width: 100%;
  height: 1000px;
}

.inline-form-button {
  margin-right: 10px;
}

.tooltip {
  opacity: 1;
}

.tooltip[x-placement="right"] .tooltip-arrow {
  border-right: 5px solid black;
}

.tooltip[x-placement="right"] .tooltip-inner {
  margin-left: 8px;
}

.control-label--bottom {
  margin-bottom: 0;
  margin-top: 5px;
}

.formio-component-label-hidden {
  position: relative;
}

.control-label--hidden {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 1.5em;
}

.formio-component-datetime .control-label--hidden.field-required {
  right: 45px;
  z-index: 3;
}

.formio-component-survey .control-label--hidden.field-required,
.formio-component-selectboxes .control-label--hidden.field-required {
  top: 0;
}

.formio-component-resource .control-label--hidden.field-required,
.formio-component-select .control-label--hidden.field-required {
  right: 40px;
  z-index: 2;
}

.checkbox-inline label,
.radio-inline label {
  font-weight: 400;
  cursor: pointer;
}

.editgrid-listgroup {
  margin-bottom: 10px;
}

.tree-listgroup {
  flex-direction: row;
}

.formio-component-submit .has-error {
  display: none;
}

.formio-component-submit button[disabled]+.has-error {
  display: block;
}

.formio-choices.form-group {
  margin-bottom: 0;
}

.formio-choices[data-type=select-multiple] .form-control {
  height: auto;
}

.form-control.formio-multiple-mask-select {
  width: 15%;
  z-index: 4;
}

.form-control.formio-multiple-mask-input {
  width: 85%;
}

.input-group.formio-multiple-mask-container {
  width: 100%;
}

.formio-component .table {
  margin-bottom: 0;
}

.formio-hide-label-panel-tooltip {
  margin-top: -10px;
  margin-left: -10px;
}

.is-disabled .choices__list--multiple .choices__item {
  padding: 5px 10px;
}

.is-disabled .choices__list--multiple .choices__item .choices__button {
  display: none;
}

.has-error.alert-danger .form-group {
  color: #333;
}

.formio-collapse-icon {
  cursor: pointer;
  color: #666;
  font-size: 0.6em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
  vertical-align: top;
  margin-right: 4px;
  margin-top: 1px;
}

[dir="rtl"] .formio-collapse-icon {
  margin-right: unset;
  margin-left: 4px;
}

.formio-component-datetime .form-control[type="datetime-local"] ~ .input-group-addon,
.formio-component-dateTime .form-control[type="datetime-local"] ~ .input-group-addon {
  width: auto;
}

.formio-component-datagrid .formio-datagrid-remove {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms linear, visibility 0ms 200ms;
}

.formio-component-datagrid {
  .datagrid-table {
    &>tbody>tr>td:last-child {
      position: relative;
    }

    &>tbody>tr:hover>td:last-child .formio-datagrid-remove {
      visibility: visible;
      opacity: 1;
      transition: visibility 0ms, opacity 200ms linear;
    }
  }

  // .edittable-group-label {
  //   background-color: #ddd;
  // }
}

.formio-component-modaledit {
  .formio-modaledit-view-container {
    position: relative;
    border: 1px solid #ddd;
    min-height: 34px;
    padding: 6px 12px;
    cursor: text;

    td & {
      padding: 0;
      border-style: none;
    }
  }

  .formio-modaledit-edit {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms linear, visibility 0ms 200ms;
  }

  .formio-modaledit-view-container:hover .formio-modaledit-edit {
    visibility: visible;
    opacity: 1;
    transition: visibility 0ms, opacity 200ms linear;
  }
}

.formio-modaledit-dialog {
  .formio-modaledit-close {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 0;
  }
}

.reset-margins {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
	  margin: 0;
  }
}

.ck-body {
  .ck.ck-balloon-panel {
    z-index: 101000;
  }
}

.formio-component-select select[disabled="disabled"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.formio-component-select div[disabled="disabled"] button,
.formio-component-select .choices.is-disabled[data-type*=select-one]:after {
  display: none;
}

.datagrid-group-label.collapsed > td {
  display: none;
}

.datagrid-group-header {
  &.clickable {
    cursor: pointer;

    .datagrid-group-label {
      &:before {
        display: inline-block;
        vertical-align: middle;
        content: '▾';
        margin: 0 5px;
      }
    }
  }

  &.clickable.collapsed {
    .datagrid-group-label {
      &:before {
        content: '▸';
      }
    }
  }
}

.formio-drag-column, .formio-remove-column {
  width:50px;
  white-space:nowrap;
  text-align: center;
}

.formio-sketchpad-toolbar-input  {
  height: 24px;
  margin-top: -5px;
  margin-bottom: -5px;
  width: 40px;
  margin-left: 5px;
}

.formio-sketchpad-toolbar-button {
  overflow: visible;

  &:hover {
    background: #e6e6e6;
  }
}

.formio-sketchpad-toolbar-group {
  background: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 3px;
}

.formio-sketchpad-toolbar {
  color: #000000;
  display: inline-block;
  margin-left: 0;
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: -1px;
  position: relative;
  z-index: 3;
}

.formio-sketchpad-edit-dialog.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
  text-align: center;
  position: fixed;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  width: auto;
  overflow: auto;

  .formio-dialog-close {
    z-index: 4;
  }
}

.formio-sketchpad-svg {
  border: 1px dashed #999;
}

.formio-sketchpad-edit-dialog-body {
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.formio-sketchpad-meta-info {
  text-align: right;
}

.formio-sketchpad-save-button {
  margin-bottom: 10px;
}

.formio-view-sketchpad-container,
.formio-edit-sketchpad-container {
  position: relative;
  overflow: auto;
}

.formio-view-sketchpad-background,
.formio-edit-sketchpad-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.formio-view-sketchpad-background {
  background: #ffffff;
}

.formio-edit-sketchpad-background {
  text-align: center;
}

.formio-view-sketchpad-background svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.formio-edit-sketchpad-background svg {
  background: #ffffff;
  border: 1px dashed #999;
}

.formio-view-sketchpad-canvas,
.formio-edit-sketchpad-canvas {
  position: relative;
  z-index: 2;
  text-align: center;
}

.formio-view-sketchpad-canvas svg {
  display: block;
}

.formio-tagpad-image-container {
  float: left;
  width: 50%;
  z-index: 1;
  position: relative;
  border: 1px dashed #999;
  border-radius: 3px;
}

.formio-tagpad-form-container {
  width: 50%;
  float: left;
}

.formio-tagpad-canvas {
  cursor: crosshair;
  position: absolute;
  z-index: 2;
}

.formio-disabled-input .formio-tagpad-canvas {
  cursor: not-allowed;
}

.formio-disabled-input .formio-tagpad-image-container {
  background-color: #eee;
}

.formio-tagpad-background svg {
  width: 100%;
}

.formio-tagpad-form {
  padding-left: 5px;
  padding-right: 5px;
}


.formio-tagpad-dot,
.formio-tagpad-dot-index {
  cursor: pointer;
}

.formio-tagpad-save-button,
.formio-tagpad-remove-button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.formio-tagpad-form-title {
  font-size: 1.7em;
}

.treeselect-input{width:100%;box-sizing:border-box;min-height:37px;cursor:text;background-color:#fff;border:1px solid #d7dde4;border-radius:4px;flex-wrap:wrap;align-items:center;padding:2px 40px 2px 4px;display:flex;position:relative}.treeselect-input--unsearchable{cursor:default}.treeselect-input--unsearchable .treeselect-input__edit{caret-color:#0000;cursor:default}.treeselect-input--unsearchable .treeselect-input__edit:focus{z-index:-1;position:absolute}.treeselect-input--value-not-selected.treeselect-input--unsearchable .treeselect-input__edit:focus{z-index:auto;width:100%;position:static}.treeselect-input--value-not-selected .treeselect-input__edit{z-index:auto}.treeselect-input--value-not-selected .treeselect-input__tags{gap:0}.treeselect-input__tags{max-width:100%;width:100%;box-sizing:border-box;flex-wrap:wrap;align-items:center;gap:4px;display:inline-flex}.treeselect-input__tags-element{cursor:pointer;max-width:100%;box-sizing:border-box;background-color:#d7dde4;border-radius:2px;align-items:center;padding:2px 5px;font-size:14px;display:inline-flex}.treeselect-input__tags-element:hover{background-color:#c5c7cb}.treeselect-input__tags-element:hover .treeselect-input__tags-cross svg{stroke:#eb4c42}.treeselect-input__tags-name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.treeselect-input__tags-cross{margin-left:2px;display:flex}.treeselect-input__tags-cross svg{width:12px;height:12px}.treeselect-input__tags-count{white-space:nowrap;text-overflow:ellipsis;font-size:14px;overflow:hidden}.treeselect-input__edit{width:0;text-overflow:ellipsis;width:100%;max-width:calc(100% - 45px);z-index:-1;min-width:0;border:none;flex:1;font-size:14px;position:absolute}.treeselect-input__edit:focus{min-width:30px;max-width:100%;z-index:auto;outline:none;position:static}.treeselect-input__operators{max-width:40px;display:flex;position:absolute;right:2px}.treeselect-input__clear{cursor:pointer;display:flex}.treeselect-input__clear svg{stroke:#c5c7cb;width:17px;min-width:17px;height:20px}.treeselect-input__clear:hover svg{stroke:#838790}.treeselect-input__arrow{cursor:pointer;display:flex}.treeselect-input__arrow svg{stroke:#c5c7cb;width:20px;min-width:20px;height:20px}.treeselect-input__arrow:hover svg{stroke:#838790}.treeselect-list{width:100%;box-sizing:border-box;max-height:300px;background-color:#fff;border:1px solid #d7dde4;overflow-y:auto}.treeselect-list__group-container{box-sizing:border-box}.treeselect-list__item{box-sizing:border-box;cursor:pointer;height:30px;align-items:center;display:flex}.treeselect-list__item:focus{outline:none}.treeselect-list__item--focused{background-color:azure!important}.treeselect-list__item--hidden{display:none}.treeselect-list__item-icon{cursor:pointer;height:20px;width:20px;min-width:20px;align-items:center;display:flex}.treeselect-list__item-icon svg{pointer-events:none;width:100%;height:100%;stroke:#c5c7cb}.treeselect-list__item-icon *{pointer-events:none}.treeselect-list__item-icon:hover svg{stroke:#838790}.treeselect-list__item-checkbox-container{width:20px;height:20px;min-width:20px;pointer-events:none;box-sizing:border-box;background-color:#fff;border:1px solid #d7dde4;border-radius:3px;position:relative}.treeselect-list__item-checkbox-container svg{height:100%;width:100%;position:absolute}.treeselect-list__item-checkbox{width:0;height:0;pointer-events:none;z-index:-1;margin:0;position:absolute}.treeselect-list__item-checkbox-icon{height:100%;width:100%;text-align:left;position:absolute;top:0;left:0}.treeselect-list__item-label{width:100%;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;pointer-events:none;text-align:left;padding-left:5px;font-size:14px;overflow:hidden}.treeselect-list__item-label-counter{color:#838790;margin-left:3px;font-size:13px}.treeselect-list__empty{height:30px;align-items:center;padding-left:4px;display:flex}.treeselect-list__empty--hidden{display:none}.treeselect-list__empty-icon{align-items:center;display:flex}.treeselect-list__empty-text{text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;padding-left:5px;font-size:14px;overflow:hidden}.treeselect-list__slot{box-sizing:border-box;width:100%;max-width:100%;background-color:#fff;position:sticky;bottom:0}.treeselect-list.treeselect-list--single-select .treeselect-list__item-checkbox-container,.treeselect-list.treeselect-list--disabled-branch-node .treeselect-list__item--group .treeselect-list__item-checkbox-container{display:none}.treeselect-list__item--checked{background-color:#e9f1f1}.treeselect-list.treeselect-list--single-select .treeselect-list__item--checked{background-color:#0000}.treeselect-list.treeselect-list--single-select .treeselect-list__item--single-selected{background-color:#e9f1f1}.treeselect-list__item .treeselect-list__item-checkbox-container svg{stroke:#0000}.treeselect-list__item--checked .treeselect-list__item-checkbox-container svg,.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container svg{stroke:#fff}.treeselect-list__item--checked .treeselect-list__item-checkbox-container,.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container{background-color:#52c67e}.treeselect{width:100%;box-sizing:border-box;position:relative}.treeselect--disabled{pointer-events:none}.treeselect-list{box-sizing:border-box;z-index:1000;border-radius:4px;position:absolute;left:0}.treeselect .treeselect-list{position:absolute}.treeselect .treeselect-list--static{position:static}.treeselect-input--focused{border-color:#101010}.treeselect-input--opened.treeselect-input--top{border-top-color:#0000;border-top-left-radius:0;border-top-right-radius:0}.treeselect-input--opened.treeselect-input--bottom{border-bottom-color:#0000;border-bottom-left-radius:0;border-bottom-right-radius:0}.treeselect-list--focused{border-color:#101010}.treeselect-list--top,.treeselect-list--top-to-body{border-bottom-color:#d7dde4;border-bottom-left-radius:0;border-bottom-right-radius:0}.treeselect-list--bottom,.treeselect-list--bottom-to-body{border-top-color:#d7dde4;border-top-left-radius:0;border-top-right-radius:0}.treeselect-list--top{bottom:100%;left:0}.treeselect-list--bottom{top:100%;left:0}
