.formbuilder {
  position: relative;

  .drag-container, .formio-component-htmlelement, .formio-component-custom {
    padding: 10px;
    min-height: 26px;
    border: dotted 2px #e8e8e8;
  }

  .drag-container {
    min-height: 26px;
    &:hover {
      cursor: move;
      &.formarea {
        border: none;
      }
    }
    &.formarea {
      padding: 0;
      border: none;
      margin-bottom: 2rem;
    }
  }

  .form-builder-group-header {
    padding: 0;
  }

  .formio-dialog .tab-content {
    padding-top: 12px;
  }

  .formio-component-hidden, .formio-component-form {
    border: 2px dashed #ddd;
  }

  .formio-component-hidden {
    height: 3em;
    text-align: center;
    color: #aaa;
    padding-top: 0.5em;
  }

  .formio-toolbar {
    background-color: #f0f0f0;
  }

  .toolbar-btn-group {
    border-width: thin;
  }

  .row.formio-component-columns {
    margin-left: 0;
    margin-right: 0;
  }

  .formcomponents .formcomponent {
    text-align: left;
    padding: 5px 5px 5px 8px;
    margin-top: 0.2rem;
    font-size: 0.8em;
    line-height: 1.2;
    border-radius: 0.3em;
  }

  .form-builder-panel .panel-body {
    padding: 5px;
  }

  .formio-pdf-builder {
    position:relative;
  }

  .formio-drop-zone {
    display: none;
    position: absolute;
    z-index:10;
    background-color: #0d87e9;
    opacity: 0.1;
  }

  .formio-drop-zone.enabled {
    display: inherit;
  }

  .formio-drop-zone.enabled + .formio-pdf-builder {
    pointer-events: none;
  }

  .component-settings-button-paste {
    display: none;
  }

  .builder-paste-mode .component-settings-button-paste {
    display: inherit;
  }

  .wizard-page-label {
    cursor: pointer;
  }

  .panel-body .drag-and-drop-alert {
    margin-bottom: 0;
  }
}

//.formbuilder-toolbar {
//  border-radius: 2px;
//  overflow: hidden;
//}

.formbuilder-toolbar .formbuilder-toolbar-container {
  background-color: #fff;
}

.formbuilder-toolbar .formbuilder-toolbar-fixed-container {
  border-right: 1px solid #E2E2E2;
  background-color: #fff;
}

.formbuilder-toolbar .formbuilder-toolbar-fixed-container .nav-tabs {
  background-color: #fff;
  border-bottom-color: #fff;
}

.formbuilder-toolbar .nav-tabs {
  background-color: #E2E2E2;
}

.formbuilder-toolbar .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.formbuilder-toolbar .nav-tabs .nav-link {
  font-size: 12px;
  border: none;
  text-transform: uppercase;
  color: #000000;
  border-radius: 0;
}

.formbuilder-toolbar .tab-content {
  background-color: #fff;
}

.formbuilder-toolbar .tab-content .formcomponent {
  font-size: 16px;
  color: #333333;
}

.component-btn-group {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  margin-top: -2px;
}

.btn-xxs, .btn-group-xxs > .btn, .component-btn-group .component-settings-button {
  padding: 2px 2px;
  font-size: 10px;
  line-height: 1.2em;
  border-radius: 0;
  width: 18px;
  height: 18px;
}

.formio-component:not(:hover) .component-btn-group {
  display: none;
}

.builder-group-button {
  background-color: transparent;
  white-space: normal;
  text-align: left;
}

.component-btn-group .component-settings-button {
  float: right;
  z-index: 1001;
  margin: 4px 4px 0 0;
  z-index: 1001;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
  -moz-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
  box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
}

.content-builder {
  min-height: 25px;
}
.treeselect-input{width:100%;box-sizing:border-box;min-height:37px;cursor:text;background-color:#fff;border:1px solid #d7dde4;border-radius:4px;flex-wrap:wrap;align-items:center;padding:2px 40px 2px 4px;display:flex;position:relative}.treeselect-input--unsearchable{cursor:default}.treeselect-input--unsearchable .treeselect-input__edit{caret-color:#0000;cursor:default}.treeselect-input--unsearchable .treeselect-input__edit:focus{z-index:-1;position:absolute}.treeselect-input--value-not-selected.treeselect-input--unsearchable .treeselect-input__edit:focus{z-index:auto;width:100%;position:static}.treeselect-input--value-not-selected .treeselect-input__edit{z-index:auto}.treeselect-input--value-not-selected .treeselect-input__tags{gap:0}.treeselect-input__tags{max-width:100%;width:100%;box-sizing:border-box;flex-wrap:wrap;align-items:center;gap:4px;display:inline-flex}.treeselect-input__tags-element{cursor:pointer;max-width:100%;box-sizing:border-box;background-color:#d7dde4;border-radius:2px;align-items:center;padding:2px 5px;font-size:14px;display:inline-flex}.treeselect-input__tags-element:hover{background-color:#c5c7cb}.treeselect-input__tags-element:hover .treeselect-input__tags-cross svg{stroke:#eb4c42}.treeselect-input__tags-name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.treeselect-input__tags-cross{margin-left:2px;display:flex}.treeselect-input__tags-cross svg{width:12px;height:12px}.treeselect-input__tags-count{white-space:nowrap;text-overflow:ellipsis;font-size:14px;overflow:hidden}.treeselect-input__edit{width:0;text-overflow:ellipsis;width:100%;max-width:calc(100% - 45px);z-index:-1;min-width:0;border:none;flex:1;font-size:14px;position:absolute}.treeselect-input__edit:focus{min-width:30px;max-width:100%;z-index:auto;outline:none;position:static}.treeselect-input__operators{max-width:40px;display:flex;position:absolute;right:2px}.treeselect-input__clear{cursor:pointer;display:flex}.treeselect-input__clear svg{stroke:#c5c7cb;width:17px;min-width:17px;height:20px}.treeselect-input__clear:hover svg{stroke:#838790}.treeselect-input__arrow{cursor:pointer;display:flex}.treeselect-input__arrow svg{stroke:#c5c7cb;width:20px;min-width:20px;height:20px}.treeselect-input__arrow:hover svg{stroke:#838790}.treeselect-list{width:100%;box-sizing:border-box;max-height:300px;background-color:#fff;border:1px solid #d7dde4;overflow-y:auto}.treeselect-list__group-container{box-sizing:border-box}.treeselect-list__item{box-sizing:border-box;cursor:pointer;height:30px;align-items:center;display:flex}.treeselect-list__item:focus{outline:none}.treeselect-list__item--focused{background-color:azure!important}.treeselect-list__item--hidden{display:none}.treeselect-list__item-icon{cursor:pointer;height:20px;width:20px;min-width:20px;align-items:center;display:flex}.treeselect-list__item-icon svg{pointer-events:none;width:100%;height:100%;stroke:#c5c7cb}.treeselect-list__item-icon *{pointer-events:none}.treeselect-list__item-icon:hover svg{stroke:#838790}.treeselect-list__item-checkbox-container{width:20px;height:20px;min-width:20px;pointer-events:none;box-sizing:border-box;background-color:#fff;border:1px solid #d7dde4;border-radius:3px;position:relative}.treeselect-list__item-checkbox-container svg{height:100%;width:100%;position:absolute}.treeselect-list__item-checkbox{width:0;height:0;pointer-events:none;z-index:-1;margin:0;position:absolute}.treeselect-list__item-checkbox-icon{height:100%;width:100%;text-align:left;position:absolute;top:0;left:0}.treeselect-list__item-label{width:100%;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;pointer-events:none;text-align:left;padding-left:5px;font-size:14px;overflow:hidden}.treeselect-list__item-label-counter{color:#838790;margin-left:3px;font-size:13px}.treeselect-list__empty{height:30px;align-items:center;padding-left:4px;display:flex}.treeselect-list__empty--hidden{display:none}.treeselect-list__empty-icon{align-items:center;display:flex}.treeselect-list__empty-text{text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;padding-left:5px;font-size:14px;overflow:hidden}.treeselect-list__slot{box-sizing:border-box;width:100%;max-width:100%;background-color:#fff;position:sticky;bottom:0}.treeselect-list.treeselect-list--single-select .treeselect-list__item-checkbox-container,.treeselect-list.treeselect-list--disabled-branch-node .treeselect-list__item--group .treeselect-list__item-checkbox-container{display:none}.treeselect-list__item--checked{background-color:#e9f1f1}.treeselect-list.treeselect-list--single-select .treeselect-list__item--checked{background-color:#0000}.treeselect-list.treeselect-list--single-select .treeselect-list__item--single-selected{background-color:#e9f1f1}.treeselect-list__item .treeselect-list__item-checkbox-container svg{stroke:#0000}.treeselect-list__item--checked .treeselect-list__item-checkbox-container svg,.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container svg{stroke:#fff}.treeselect-list__item--checked .treeselect-list__item-checkbox-container,.treeselect-list__item--partial-checked .treeselect-list__item-checkbox-container{background-color:#52c67e}.treeselect{width:100%;box-sizing:border-box;position:relative}.treeselect--disabled{pointer-events:none}.treeselect-list{box-sizing:border-box;z-index:1000;border-radius:4px;position:absolute;left:0}.treeselect .treeselect-list{position:absolute}.treeselect .treeselect-list--static{position:static}.treeselect-input--focused{border-color:#101010}.treeselect-input--opened.treeselect-input--top{border-top-color:#0000;border-top-left-radius:0;border-top-right-radius:0}.treeselect-input--opened.treeselect-input--bottom{border-bottom-color:#0000;border-bottom-left-radius:0;border-bottom-right-radius:0}.treeselect-list--focused{border-color:#101010}.treeselect-list--top,.treeselect-list--top-to-body{border-bottom-color:#d7dde4;border-bottom-left-radius:0;border-bottom-right-radius:0}.treeselect-list--bottom,.treeselect-list--bottom-to-body{border-top-color:#d7dde4;border-top-left-radius:0;border-top-right-radius:0}.treeselect-list--top{bottom:100%;left:0}.treeselect-list--bottom{top:100%;left:0}
