<div class="formbuilder-toolbar row">
    <div class="col-auto formio-component formio-component-tabs formbuilder-toolbar-fixed-container col p-0">
        <ul class="nav nav-tabs" id="formbuilder-toolbar-fixed-nav" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="tools-containers-link" data-toggle="tab"
                    data-target="#tools-containers" role="tab" aria-controls="tools-containers"
                    aria-selected="true">Containers</a></li>
        </ul>
        <div class="tab-content" id="formbuilder-toolbar-fixed-content">
            <div class="tab-pane show active" id="tools-containers" role="tabpanel"
                aria-labelledby="tools-containers-link">
                <div class="row">
                    <div id="toolbar-layout-components" class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="formio-component formio-component-tabs col formbuilder-toolbar-container p-0">
        <ul class="nav nav-tabs" id="formbuilder-toolbar-nav" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="tools-fields-link" data-toggle="tab"
                    data-target="#tools-fields" role="tab" aria-controls="tools-fields" aria-selected="true">Fields</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="tools-others-link" data-target="#tools-others"
                    data-toggle="tab" role="tab" aria-controls="tools-others" aria-selected="false">Other components</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="tools-data-link" data-toggle="tab" data-target="#tools-data"
                    role="tab" aria-controls="tools-data" aria-selected="false">Data</a></li>
            <li class="nav-item"><a class="nav-link" id="tools-custom-link" data-toggle="tab" data-target="#tools-data"
                    role="tab" aria-controls="tools-custom" aria-selected="false">Custom components</a></li>
        </ul>
        <div class="tab-content" id="formbuilder-toolbar-content">
            <div class="tab-pane fade show active" id="tools-fields" role="tabpanel"
                aria-labelledby="tools-fields-link">
                <div class="row">
                    <div id="toolbar-basic-components" class="col"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tools-others" role="tabpanel" aria-labelledby="tools-others-link">
                <div class="row">
                    <div id="toolbar-advanced-components" class="col"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tools-data" role="tabpanel" aria-labelledby="tools-data-link">
                <div class="row">
                    <div id="toolbar-data-components" class="col"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="tools-custom" role="tabpanel" aria-labelledby="tools-custom-link">
                <div class="row">
                    <div id="toolbar-custom-components" class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>